Options -Indexes
RewriteEngine On

# Força HTTPS (Opcional, descomente se usar SSL)
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Libera acesso direto a arquivos reais (imagens, css, js)
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !\.php$
RewriteRule ^ - [L]

# Todo o resto vai para index.php
RewriteRule ^ index.php [QSA,L]